/* body {
    background-color: #f7fafc; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  } */
  
  .headerSignIn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f56565; 
    color: white;
    padding: 0.5rem 1rem;
    text-align: left;
  }
  
  .brand {
    font-weight: bold;
  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
  }
  
  .login-form {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1.5rem;
  }
  
  .login-form h2 {
    text-align: center;
    color: #e53e3e; 
    margin-bottom: 1rem;
  }
  
  .login-form label {
    display: block;
    color: #4a5568; 
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .login-form input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #cbd5e0; 
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    transition: border-color 0.2s;
  }
  
  .login-form input:focus {
    outline: none;
    border-color: #f56565; 
  }
  
  .remember-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .forgot-password {
    color: #3182ce; 
    font-weight: bold;
  }
  
  .login1-button {
    background-color: #f56565; 
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    border: none;
    margin-left: 7rem;
}